<div class="game">
    {{game-navigation gamePlayer=enemyPlayer}}
    {{game-field gamePlayer=enemyPlayer}}
    {{game-field gamePlayer=heroPlayer}}
    {{game-navigation gamePlayer=heroPlayer}}
</div>

{{phaseType}}
