<div class="game">
    {{game/player-navigation gamePlayer=enemyPlayer isHero=false}}
    {{game/player-cards gamePlayer=enemyPlayer isHero=false}}
    {{game/player-permanents gamePlayer=enemyPlayer isHero=false}}

    {{phaseType}}

    {{game/player-permanents gamePlayer=heroPlayer  isHero=true}}
    {{game/player-cards gamePlayer=heroPlayer  isHero=true}}
    {{game/player-navigation gamePlayer=heroPlayer  isHero=true}}
</div>
